<h1>Search Author</h1>
<form action="/authors" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>
    <div><%= author.name %></div>
    <a href="/authors/<%= author.id %>">View</a>
    <a href="/authors/<%= author.id %>/edit">Edit</a>
    <!-- //SEE deleteForm.ejs partial for important note -->
    <!-- //All code in the include() is run on server so need to use string interpolation to call the author.id- write as normal javascript  -->
    <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
<% }); %>
