<div class="jumbotron">
    <h2>Books by Author</h2>

                <% if (booksByAuthor.length > 0) { %>
                    <% booksByAuthor.forEach(book => { %>
                        <div class="grid" style="width: 25rem;">
                            <div class="card-body">
                                <a href="/books/<%= book.id %>">
                                        <img class="card-img-top" src="<%= book.coverImagePath %>">
                                    <% }); %>
                                </a>  
                            </div>
                        </div>  
                <% } %>
            <hr class="my-4">
            <h2><%= author.name %></h2>
            <br>
            <nav>
                <a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Edit</a>
                <%- include('../partials/deleteForm',
                                    { url: `/authors/${author.id}` }) %>  
            </nav>                         
        
</div>    

<div class="grid-container intro">
    <div>
        <h1>The Recipe Box</h1>
        <p class="lead text-light">A collection of delicious recipes for you to use in the kitchen.</p>
    </div><button>Dark Mode</button>
</div>
<main class="grid-container">
    <div class="grid-x grid-margin-x medium-up-2 large-up-3">
        <% if (booksByAuthor.length > 0) { %>
                    <% booksByAuthor.forEach(book => { %>
                        <div class="grid" style="width: 25rem;">
                            <div class="card-body">
                                <a href="/books/<%= book.id %>">
                                        <img class="card-img-top" src="<%= book.coverImagePath %>">
                                    <% }); %>
                                </a>  
                            </div>
                        </div>  
                <% } %>
    </div>
</main>
